@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.todo-enter {
    opacity: 0;
    transform: translateY(-20px);
}
.todo-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}
.todo-exit {
    opacity: 1;
    transform: translateY(0);
}
.todo-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 300ms, transform 300ms;
}
